header {
  display: flex;
  flex: flex-wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 0.4rem;
  background-color: white;
}

.llaves {
  padding-top: 50px;
  margin-left: 30px;
}

.logo {
  margin-left: -25px;
}

.sesion {
  margin-right: 80px;
}

.logo_total {
  margin-left: 25px;
}

.user {
  font-weight: 600;
  font-size: 1.2rem;
  min-width: 14%;
}

.submenu {
  box-shadow: 0.125rem 0.125rem 7px rgba(102, 102, 100, 0.24);
  right: 1%;
  top: 8%;
  z-index: 10000000;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: max-content;
  padding-right: 1rem;
  margin-left: -2rem;
  list-style: none;
  padding-top: 0.6rem;
  min-width: 12%;
  background-color: white;
  border-radius: 2%;
}

.submenu li {
  margin: 0px 0px;
  height: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

}

.submenu a {
  color: black;
  text-decoration: none;
}

.submenu a:hover {
  color: #68BFB0;
  font-weight: 600;

}

ul img {
  margin-left: 8px;
}