:root {
  --primary: #1bb8ab;
  /* Cambia el color primario a un tono rojo */
}

body {
  cursor: pointer;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}